.Card {
  height: 700px;
  width: 90%;
}

.Image {
  height: 70%;
  width: 100%;
}

.Image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Table {
  height: 50%;
}

.Ports {
  display: inline;
  position: relative;
  top: -10px;
  width: 100%;
}

.Grid {
  height: 13%;
}

.map:hover {
  color: #0556ac;
}

.header {
  height: 10%;
  overflow: auto;
}

@media screen and (max-width: 400px) {
  .Table {
    font-size: 4.5vw;
  }

  .Image {
    height: 0%;
  }

  .Image img {
    height: 0%;
  }

  .Card {
    height: 200px;
    width: 100%;
  }

  .header,
  .Grid {
    height: 35%;
  }
}
