@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

@keyframes title {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  1000% {
    transform: scale(1);
  }
}

.Title {
  text-align: center;
  padding-top: 30px;
  animation-name: title;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;
}

.main {
  width: 90%;
  margin: auto;
}

.Signature {
  font-size: 20px;
  font-family: "Nothing You Could Do";
  text-align: end;
  margin-top: 50px;
  padding-bottom: 20px;
}
