@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.Money {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 80%;
  height: 60px;
  box-shadow: 1px 1px 10px grey;
}

.Header {
  background-color: #5fce93;
}

.Row {
  background-color: #637ef3;
}

.DialogContent {
  text-align: justify;
}

.Form {
  width: 100%;
  margin-top: 20px;
}
